/* ------- SECTION INDEX-BG ------ */

.index-bg, .ubication {
	text-align: left;
	color: #C3C6C5;
	font-size: 12px;
}

.index-bg span {
	font-family: LatoMedium;
	font-size: 60px;
}

.index-bg .row .col-3 {
	margin: 50px 0 0 100px;
}

.index-bg .bg-img {
	background-image: url(../img/dance_1.jpg);
	height: 350px;
}

.index-bg p {
	margin-bottom: 30px;
}

.index-bg a {
	background-color: #030C1D;
	border: 3px solid #0B649C;
	text-decoration: none;
	color: white;
	padding: 10px 20px;
}

.index-bg a:hover {
	background-image: url(../img/pattern-5.gif);
	border: 3px solid #0B649C;
	color: #030C1D;
}

/*---------- SECTION OFFERS --------*/

.offers, .phrase {
	background-image: url(../img/textura_2.jpg);
	overflow: hidden;
	color: black;
}

.offers .row {
	font-size: 22px;
	width: 50%;
	margin: 0 auto;
	padding: 50px 0 65px;
}

.offers a {
	background-color: #192951;
	border-radius: 4px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 15px 80px;
}

.offers a:hover {
	background-color: #0B649C;
	border-radius: 4px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 15px 80px;
}

/*----------- SECTION TRAINERS --------*/

.trainers .trainerone {
	background-image: url(../img/instructor_4.jpg);
	height: 270px;
}

.trainers .trainertwo {
	background-image: url(../img/profesor_9.jpg);
	height: 270px;
}

.trainers .but-instructor {
	position: relative;
	top: -49px;
}

.trainers .phrase {
	margin-top: -24px;
}

.trainers a {
	background-color: #192951;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 25px 150px;
}

.trainers a:hover {
	background-color: #0B649C;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 25px 150px;
}

.phrase {
	font-size: 40px;
	font-style: italic;
	padding: 80px 15%;
	color: black;
}

/*----------- SECTION UBICATION-------*/

.ubication {
	text-align: left;
	background-color: #091A53;
	overflow: hidden;
	padding: 70px 40px;
}

.ubication h2 {
	font-size: 20px;
}